POSTGRES:
    POSTGRES_HOST:
    POSTGRES_PORT:
    POSTGRES_USER:
    POSTGRES_PASSWORD:
    POSTGRES_DB:

ROUTER:
    HTTP_HOST:
    HTTP_PORT:
    HTTP_READ_TIMEOUT:
    HTTP_WRITE_TIMEOUT:
    HTTP_IDLE_TIMEOUT:
